<form action="" onsubmit="return false;">
    <input
        type="text"
        name="id"
        class="is-hidden"
        value="{{ movement.id if movement.id }}"
        
    />

    <div class="field">
        <label class="label">Descripción</label>
        <div class="control">
            <input
                name="description"
                class="input"
                type="text"
                placeholder=""
            />
        </div>
    </div>

    <div class="field">
        <label class="label">Fecha</label>
        <div class="control">
            <input
                name="date"
                class="input"
                type="date"
                placeholder=""
                value="{{ movement.date if movement.date }}"
            />
        </div>
    </div>

    <div class="field">
        <label class="label">Categoría</label>
        <div class="control">
            <input
                name="category"
                class="input"
                type="text"
                placeholder=""
                value="{{ movement.category if movement.category }}"
            />
        </div>
    </div>

    <div class="field">
        <label class="label">Monto</label>

        <div class="control">
            <input
                name="amount"
                class="input"
                type="number"
                placeholder=""
                value="{{ movement.amount if movement.amount }}"
            />
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button
                class="button is-primary"
                onclick="onSave(event); location.reload();"
                type="submit"
            >
                Guardar
            </button>
        </div>

        <div class="control">
            <button class="button is-inverted" onclick="onCancel(event)">
                Limpiar
            </button>
        </div>

        {% if movement.id %}
        <div class="control is-flex-grow-1 is-flex is-justify-content-flex-end">
            <button class="button is-danger" onclick="onRemove(event)">
                Eliminar
            </button>
        </div>
        {% endif %}
    </div>


    <p>
      <fieldset>
        <legend>¿Pudiste crear tu movimiento? SI o NO<abbr title="Este campo es obligatorio" aria-label="required">*</abbr></legend>
        <input type="rta" required name="creacion" id="r1" >
      </fieldset>
     </p>

     <p>
        <label for="t1">¿Cuál es tu nombre? </label>
        <input type="nombre" id="t2" name="nombre">
      </p>

    <p>
      <label for="n1">¿Qué edad tienes?</label>
       <input type="number" min="18" max="120" step="1" id="n1" name="age"
             pattern="\d+">
    </p>
    
     <p>
      <label for="t2">¿Cuál es tu dirección de correo electrónico? </label>
      <input type="email" id="t2" name="email">
    </p>
    <p>
      <label for="t3">Deja una descripcion</label>
      <textarea id="t3" name="msg" maxlength="140" rows="5"></textarea>
     </p>
    <p>
      <button>Enviar</button>
    </p>
    
</form>
